{% extends 'todo_app/base.html' %}
{% load static %}

{% block content %}
<h3 class="text-info">image gallery project</h3>
<form action="{% url 'upload_image' %}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    Enter your name</br>
    <input type="text" name="my_name">
    Select image to upload</br>
    <input type="file" name="image_file">
    <button type="submit" class="btn btn-info">upload</button>

</form>

{%for image in images%}
   <a href="{%url 'image_detail' image.id%}">
    <div class="container">
    <div class="row justify-content-start">
        <div class="col-2">
             {{image.name}}
             <img src="{{image.image.url}}" class="img-responsive" style="width: 100%; float: left; margin-right: 5px;">
            <form action="{% url 'delete_image' image.id%}" method="post">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">delete</button>
            </form>
         </div>
    </div>
    </div>
    </a>
{% endfor %}

{% endblock %}